body { color:#ffffff9b;
    background-color: #0e24c6f4;
    font-family:Helvetica;
    font-size: 20px;
    line-height: 1.5;
} 

.hlavicka { 
    font-family: Helvetica; 
    font-size: 20px ;
    line-height: 1.5;
    text-align: left;
    color: #ffffff7c;
    background-color: darkgrey;
}

h1 { font-size: 40px;
    font-weight: bold;
    text-align: center;
}

img { border-radius: 20%; 
    padding: 0px; 
    display: block;
    margin-right: 30px; 
    float: left; 
    overflow: auto;
}

h1, h2
{color:rgb(0, 0, 0);margin:25px;}

.studium h2 {
    clear:both;
 }

a:link    {color: rgb(170, 255, 0)}
a:visited    {color: purple}
a:active    {color: red}


.menu li {
display:inline-block;

 }

 .menu { 
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
 }

 .menu a { text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
}